@import '~styles/vars.scss';
.items-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;
    width: 95%;
    margin: auto;
    position: relative;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    .modal-inner {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
        position: relative;
        top: 5%;
        max-width: 1920px;
        margin: auto;
        h1 {
            font-family: Quicksand, sans-serif;
            font-size: 5vmin;
            margin: 0;
            padding: 1em 1em 0 1em;
            max-width: 78%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            align-self: flex-start;
            @include large-screen {
                font-size: 3vmin;
            }
        }
        .info,
        .booking-confirmation,
        .booking-error {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 70%;
            max-width: 1280px;
            padding: 2em;
            font-size: 3vmin;
            font-family: Quicksand, sans-serif;
            text-align: left;
            label {
                display: flex;
                flex-direction: column;
                line-height: 1.8em;
                padding-bottom: 2em;
            }
            input {
                display: flex;
                align-self: center;
                width: 70%;
                max-width: 768px;
                font-size: 1.2em;
                padding: 0.5em 0.8em;
                border: 1px solid $darkBorderColor;
                font-family: Quicksand, sans-serif;
                &:focus,
                &:active {
                    outline: 0;
                }
            }
            @include phone {
                font-size: 4vmin;
            }
            @include tablet {
                font-size: 3vmin;
            }
            @include large-screen {
                font-size: 2vmin;
            }
        }
        .booking-confirmation,
        .booking-error {
            align-items: center;
        }
        .booking-error {
            color: red;
            font-weight: bold;
        }
        button {
            border: 1px solid $darkBorderColor;
            padding: 1em 4em;
            border-radius: 2em;
            background: transparent;
            color: $darkBorderColor;
            text-transform: uppercase;
            font-size: 4vmin;
            cursor: pointer;
            transition: background .2s ease;
            outline: 0;
            &:hover {
                background: $background;
                border: 1px solid darken($background, 10%);
                transition: background .2s ease;
            }
            &:active {
                outline: 0;
            }
            @include tablet {
                font-size: 3vmin;
            }
            @include large-screen {
                font-size: 1.5vmin;
            }
        }
    }
    .close {
        position: absolute;
        right: 15px;
        top: 10px;
        font-family: Quicksand, sans-serif;
        font-weight: bold;
        font-size: 2em;
        cursor: pointer;
        padding: 0.15em 0.5em 0.3em 0.5em;
        line-height: 1em;
        background-color: transparent;
        transition: background-color .2s ease;
        &:hover {
            background-color: $hoverBackground;
            transition: background-color .2s ease;
        }
    }
}